@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@300&family=Raleway:ital@1&family=Ubuntu&display=swap');


.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.work-heading{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}


.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
    border: 2px solid #fff;
}

.project-card:hover{
    padding: 2rem;;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.pro-details p{
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 2rem;
}


.project-card img{
    width: 100%;
}

@media  screen and (max-width: 740px) {
  .project-container{
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }    
}